@import url('https://fonts.googleapis.com/css?family=Bungee|Cabin&display=swap');

html {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  color: #000;
  background-color: #E8C8C5;
  scroll-behavior: smooth;
  background-image: linear-gradient(45deg, #E3B8B5 25%, transparent 25%), linear-gradient(-45deg, #E3B8B5 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #E3B8B5 75%), linear-gradient(-45deg, transparent 75%, #E3B8B5 75%);
  background-size: 100px 100px;
  background-position: 0 0, 0 50px, 50px -50px, -50px 0px;
}
.html-book_club {
  background-color: #B4B3AC;
  background-image: linear-gradient(45deg, #9E9D94 25%, transparent 25%), linear-gradient(-45deg, #9E9D94 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #9E9D94 75%), linear-gradient(-45deg, transparent 75%, #9E9D94 75%);
  padding-top: 32px;
}
.html-tinkl {
  background-color: #a3dbd2;
  background-image: linear-gradient(45deg, #B6E2DB 25%, transparent 25%), linear-gradient(-45deg, #B6E2DB 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #B6E2DB 75%), linear-gradient(-45deg, transparent 75%, #B6E2DB 75%);
  padding-top: 32px;
}
.html-yarn {
  background-color: #FC8E69;
  background-image: linear-gradient(45deg, #fb7a4f 25%, transparent 25%), linear-gradient(-45deg, #fb7a4f 25%, transparent 25%), linear-gradient(45deg, transparent 75%, #fb7a4f 75%), linear-gradient(-45deg, transparent 75%, #fb7a4f 75%);
  padding-top: 32px;
}

* > * {
  box-sizing: border-box;
}

body {
  font-size: 1.4rem;
  margin: 0;
}
section, .header {
  max-width: 320px;
  margin: 0 auto;
}
section {
  padding: 32px 0;
}

h1 {
  font-size: 2.5rem;
  font-family: 'Bungee', serif;
  text-shadow: 4px 4px 0px #DCACA7;
}
h2 {
  font-size: 2rem;
  font-family: 'Bungee', serif;
  margin: 0 0 2.5rem;
  scroll-margin-top: 2rem;
}
h3 {
  font-size: 1.5rem;
  font-weight: bold;
}
p, ul {
  font-size: 1.125rem;
}

ul > li:not(:first-of-type) {
  margin-top: 0.5rem;
}

.html-book_club > * > * > h1 {
  text-shadow: 4px 4px 0px #B4B3AC;
}
.html-tinkl > * > * > h1 {
  text-shadow: 4px 4px 0px #a3dbd2;
}
.html-yarn > * > * > h1 {
  text-shadow: 4px 4px 0px #FC8E69;
}

a {
  text-decoration: none;
  color: initial;
  border-bottom: 2px solid #000;
  font-size: 1.125rem;
}
a:hover {
  border-color: transparent;
}

.section_container {
  padding: 32px 0;
}
.section-projects {
  background-color: #F2CD60;
  background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%23FFFFFF' fill-opacity='0.4'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.section-about_me {
  background-color: #C1CC99;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ACBB77' fill-opacity='0.4' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
.section-contact {
  background-color: #F5A65B;
  background-image: url("data:image/svg+xml,%3Csvg width='30' height='30' viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 10h10v10H0V10zM10 0h10v10H10V0z' fill='%23F8C08B' fill-opacity='0.4' fill-rule='evenodd'/%3E%3C/svg%3E");
}

.intro-grid {
  display: grid;
  grid-column-gap: 1rem;
}
.intro_img-container {
  background-color: rgba(250, 250, 250, 0.8);
  width: 100%;
  padding: 24px 24px 0;
  border-radius: 24px;
  margin-top: 32px;
  overflow: hidden;
}
.intro_img-container > img {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.project {
  padding: 24px;
  border-radius: 24px;
  overflow: hidden;
  background-color: rgba(250, 250, 250, 0.8);
}
.projects-grid {
  display: grid;
  gap: 1rem;
}
.project_img-standalone {
  max-width: 176px;
  max-height: 200px;
  display: block;
  object-fit: contain;
  margin: 2rem auto 16px;
}

.w-100 {
  width: 100%;
}
.grid {
  display: grid;
  grid-gap: 1rem;
}

.case_study-section {
  width: 100%;
  background-color: rgba(250, 250, 250, 0.8);
  padding: 24px;
  border-radius: 24px;
}
.case_study-section > h2, .case_study-section > * > * > h2 {
  margin-top: 0;
}

.back_link {
  display: inline-block;
  margin-bottom: 24px;
}

/* TABLET */
@media (min-width: 744px) {
  section, .header {
    max-width: 716px;
  }

  .project {
    min-height: 300px;
    display: flex;
    justify-content: space-between;
    gap: 24px;
  }
  .project_img-standalone{
    align-self: center;
    margin: 0;
  }
}
