@import url('https://fonts.googleapis.com/css?family=Bungee|Cabin&display=swap');

html {
  font-size: 16px;
  font-family: 'Cabin', sans-serif;
  background-image: url('./background.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

body {
  font-size: 1.4rem;
  background-color: rgba(255, 255, 255, 0.93);
  max-width: 80%;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem;
  padding-bottom: 5rem;
}

h1 {
  font-size: 4rem;
  font-family: 'Bungee', serif;
}
h2 {
  font-size: 2rem;
  font-family: 'Bungee', serif;
  color: rgba(93, 162, 133, 1);
  margin-top: 1.6rem;
}
h3 {
  font-size: 1.6rem;
  margin-top: 2rem;
  font-weight: bold;
}

a {
  color: rgba(0, 124, 197, 1);
  text-decoration: none;
}
a:hover {
  color: rgba(128, 212, 251, 1);
  text-decoration: underline;
}

footer {
  margin-top: 3em;
}

@media (min-width: 769px) {
  body {
    max-width: 50%;
  }
}